.mode-selector {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  letter-spacing: 1px;
  display: flex;

  & > div.u-flex-aligned:not(:last-child) {
    margin-right: 1.5rem;
  }

  &--input {
    cursor: pointer;

    &:not(:first-of-type) {
      margin-left: 2rem;
    }

    @include respond(phone) {
      &[type=radio] {
        width: 0.8rem;
      }
    }
  }

  &--label {
    margin-left: 1rem;
    cursor: pointer;
  }

  @include respond(1400) {
    font-size: 1.3rem;
  }

  @include respond(tab-land) {
    font-size: 1rem;
  }
}
