.alert {
  position: fixed;
  top: 5%;
  left: 2%;
  z-index: 100000;
  max-width: 500px;
  align-items: stretch;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  display: none;

  @include respond(tab-land) {
    max-width: 300px;
  }

  &-first-item {
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    font-size: 1.5rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    @include respond(tab-land) {
      font-size: 1rem;
    }
  }

  &--success {
    display: flex;
    background-color: lighten(#b2c22d, 10);

    .alert-first-item {
      background-color: darken(#b2c22d, 10);

      svg {
        color: white;
      }
    }
  }

  &--warning {
    display: flex;
    background-color: lighten(#b51818, 20);

    .alert-first-item {
      background-color: darken(#b51818, 10);

      svg {
        color: white;
      }
    }
  }

  &--info {
    display: flex;
    background-color: #baf5f7;

    .alert-first-item {
      background-color: darken(#baf5f7, 15);

      svg {
        color: white;
      }
    }
  }

  &-second-item {
    display: flex;
    padding: 1rem 1rem;
    flex-direction: column;
  }

  &-third-item {
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    font-size: 1.5rem;

    @include respond(tab-land) {
      font-size: 1rem;
    }
  }
}
