.form {
  background-color: var(--light-grey);
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  padding: 2rem 1rem;
  height: 100%;

  &--output {
    height: 310px;

    @include respond(big-desktop) {
      height: 283px;
    }

    @include respond(tab-land) {
      height: 242px;
    }

    @include respond(tab-port) {
      height: 100%;
    }
  }

  &__label {
    display: inline-block;
    font-size: 1.4rem;
    margin-bottom: 1rem;
    font-weight: bold;
    color: var(--black);

    @include respond(1400) {
      font-size: 1.2rem;
    }

    @include respond(tab-land) {
      font-size: 1rem;
    }
  }

  &__input {
    font-family: 'Open Sans', sans-serif;
    padding: 0.25rem 0.75rem;
    font-size: 1.4rem;
    display: block;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    &:invalid {
      border: 1px solid #f74343;
    }

    &--range {
      padding: 0;
    }

    @include respond(1400) {
      font-size: 1.2rem;
    }

    @include respond(tab-land) {
      font-size: 1rem;
    }
  }

  @include respond(tab-port) {
    margin-bottom: 2rem;
  }
}
