.map {
  width: 67%;
  height: 647px;
  z-index: 1;

  .leaflet-bottom .leaflet-control-scale {
    margin-bottom: 2rem;
  }

  @include respond(tab-land) {
    width: 100%;
    height: 390px;
    margin-bottom: 1.5rem;
  }
}

// needed for expanding map
.overlayed-map {
  width: 90% !important;
}
