.map {
  width: 60%;
  height: 647px;

  @include respond(big-desktop) {
    width: 60%;
  }

  @include respond(tab-land) {
    width: 100%;
    height: 390px;
    margin-bottom: 1.5rem;
  }
}

.textarea-aoi-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  overflow: hidden;

  @include respond(tab-land) {
    width: 100%;
  }

  textarea {
    width: 90%;
    height: 100%;

    @include respond(tab-land) {
      height: 150px;
    }
  }

  button {
    width: 50%;

    @include respond(tab-land) {
      width: 20%;
    }
  }
}

.map-buttons {
  display: flex;
  align-items: center;
  width: 100%;

  button {
    width: fit-content;
    margin-left: 1rem;
  }

  span {
    margin-top: 1rem;
    margin-left: 1rem;
  }
}
