// needed to expand component
.overlayed-element {
  width: 50%;
  min-height: 100%;
  overflow-y: scroll;

  & div.datafusion-options {
    overflow-y: visible;
    max-height: 100%;
  }

  @include respond(tab-port) {
    width: 75%;
  }
}

.overlay-image-container {
  display: flex;
  align-items: center;
  background-color: var(--grey);
  min-height: 200px;
  max-height: 80%;
  overflow-y: scroll;
  border-radius: 10px;
  cursor: default;
  flex-direction: column;
  padding: 1rem;
  position: relative;

  img {
    max-width: 450px;
    max-height: 450px;

    @include respond(tab-land) {
      max-width: 380px;
      max-height: 380px;
    }

    @include respond(phone) {
      max-width: 300px;
      max-height: 300px;
    }
  }
}
