.textarea {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  padding: 0.5rem 1.5rem;

  @include respond(1400) {
    font-size: 1.2rem;
  }

  @include respond(tab-land) {
    font-size: 1rem;
  }

  @include respond(phone) {
    font-size: 1.3rem;
  }

  &:invalid {
    border: 1px solid #f74343;
  }
  // Request Preview Textarea
  &--request {
    height: 350px;

    @include respond(big-desktop) {
      width: 90%;
    }

    @include respond(tab-land) {
      width: 90%;
    }
  }

  &--aoi {
    width: 40%;
    height: inherit;

    @include respond(tab-land) {
      width: 90%;
      height: 250px;
    }
  }

  &--batch {
    width: 95%;
    height: 385px;

    @include respond(big-desktop) {
      width: 90%;
    }

    @include respond(tab-land) {
      width: 90%;
    }
  }
}

.editor {
  background-color: var(--white);
  margin-bottom: 1rem;

  &:invalid {
    border: 1px solid #f74343;
  }
}

.CodeMirror {  /* stylelint-disable-line */
  font-size: 1.5rem;
  height: auto !important;
  width: 100%;

  @include respond(tab-land) {
    font-size: 1rem;
  }

  @include respond(phone) {
    width: 100%;
    font-size: 1.3rem;
  }
}

.evalscript-title-button {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;

  button {
    margin: 0;
  }

  h2 {
    margin: 0;
    margin-right: 2rem;
  }
}

.console {
  width: 95%;
  height: 50px;
  padding: 0.5rem 1rem;
}

.quota-preview {
  width: 100%;

  .CodeMirror-scroll { /* stylelint-disable-line */
    overflow-y: scroll;
    height: 455px !important;
  }
}

.tpdi-order-preview {

  .CodeMirror-scroll { /* stylelint-disable-line */
    overflow-y: scroll;
    height: 400px;
  }
}

.tpdi-search-preview {

  .CodeMirror-scroll { /* stylelint-disable-line */
    overflow-y: scroll;
    height: 390px;
  }
}

.process-editor {

  .CodeMirror-scroll { /* stylelint-disable-line */
    overflow-y: scroll;
    min-height: 400px;
    max-height: 500px;
  }

  &--evalscript {
    width: 647px;

    @include respond(tab-land) {
      width: 500px;
    }

    @include respond(tab-port) {
      width: 100%;
    }
  }

  &--console {
    .CodeMirror-scroll { /* stylelint-disable-line */
      height: 500px;
    }
  }
}

.tpdi-editor {
  .CodeMirror-scroll { /* stylelint-disable-line */
    height: 414px !important;
  }
}
