/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 22px;
  z-index: 0;

  @include respond(tab-port) {
    width: 30px;
    height: 17px;
  }
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  z-index: 1;
}

.slider::before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  z-index: 1;

  @include respond(tab-port) {
    width: 13px;
    height: 13px;
    left: 4px;
    bottom: 2px;
  }
}

input:checked + .slider {
  background-color: var(--primary);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--primary);
}

input:checked + .slider::before {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);

  @include respond(tab-port) {
    -webkit-transform: translateX(8px);
    -ms-transform: translateX(8px);
    transform: translateX(8px);
  }
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  z-index: 1;

  @include respond(tab-port) {
    border-radius: 21px;
  }
}

.slider.round::before {
  border-radius: 50%;
}
