.u-margin-bottom-tiny { margin-bottom: 1rem !important; }
.u-margin-bottom-small { margin-bottom: 2rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}
.u-margin-bottom-large { margin-bottom: 6rem !important; }
.u-margin-bottom-huge { margin-bottom: 8rem !important; }

.u-margin-right-small { margin-right: 2rem !important; }
.u-margin-right-tiny { margin-right: 1rem !important; }

.u-margin-top-small { margin-top: 2rem !important; }
.u-margin-top-tiny { margin-top: 1rem !important; }

.u-margin-left-small { margin-left: 2rem !important; }
.u-margin-left-tiny { margin-left: 1rem !important; }

.u-center-text { text-align: center !important; }
.u-border-bottom-medium { border-bottom: 2px solid var(--color-grey-light-4) !important; }
.u-border-bottom-small { border-bottom: 1px solid var(--color-grey-light-4) !important; }
.u-border-bottom-large { border-bottom: 3px solid var(--color-grey-light-4) !important; }
.u-border-bottom-dark-medium { border-bottom: 2px solid var(--color-grey-dark-2); }

.u-width-100 { width: 100% !important; }

.u-flex-aligned {
  display: flex;
  align-items: center;

  & > * {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}

.u-flex-column-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.u-flex-between {
  display: flex;
  justify-content: space-between;

  & > * {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}

.u-expand-title {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
