//Layout
.batch-third-row {
  display: flex;
  margin-bottom: 1.5rem;
  height: 100%;
  width: 100%;
  align-items: stretch;

  @include respond(phone) {
    flex-direction: column;
  }

  &-first-item {
    width: 30%;
    display: flex;
    // overflow: hidden;
    flex-direction: column;

    @include respond(phone) {
      width: 100%;
      margin-bottom: 1rem;
    }
  }

  &-second-item {
    width: 100%;
    display: flex;
    overflow: hidden;
    flex-direction: column;
  }
}
