.product-id {
  display: flex;
  align-items: center;
  width: 100%;

  input {
    width: 75%;
    margin: 0 !important;
  }
}

.tpdi-feature {
  &-title {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
    padding: 0.5rem 1rem;

    .icon {
      font-size: 2rem;
      margin-left: 2rem;
    }

    button {
      margin-right: 2rem;
    }
  }

  &-extra-info {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;

    p {
      margin-bottom: 0.8rem;
    }

    span {
      font-weight: bold;
    }
  }
}

.order-info {
  margin-bottom: 1.5rem;

  &-extra-info {
    margin-bottom: 2rem;
    margin-left: 2rem;

    p {
      margin-bottom: 0.5rem;
    }
  }

  label {
    cursor: pointer;
  }

  span {
    font-weight: bold;
  }

  button {
    margin-right: 0.5rem;
  }
}

.quota-info {
  label {
    cursor: pointer;
  }
}

.tpdi-limit {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;

  label {
    margin-bottom: 0;
    margin-right: 1rem;
  }
}

.tpdi-request-preview-select-request {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;

  label {
    margin-bottom: 0;
    margin-right: 1rem;
  }
}

.tpdi-search-orders {
  display: flex;
  align-items: center;

  input {
    margin-bottom: 1.5rem;
    margin-left: 1.5rem;
  }
}

.tpdi-first-row {
  display: flex;
  width: 100%;
  align-items: stretch;
  overflow-y: hidden;

  @include respond(phone) {
    flex-direction: column;
  }

  &-first-item {
    width: 40%;
    display: flex;
    flex-direction: column;

    .tpdi-timerange-container {
      label,
      input {
        margin-right: 1rem;
      }
    }

    .quota-container {
      height: 100%;
      display: flex;
      flex-direction: column;

      &-items {
        display: flex;
        justify-content: space-between;

        &--second-item {
          display: flex;
          flex-direction: column;
          width: 60%;

          @include respond(tab-land) {
            width: 100%;
          }
        }

        @include respond(tab-land) {
          flex-direction: column;
        }
      }
    }

    @include respond(tab-port) {
      width: 40%;
    }

    @include respond(phone) {
      width: 100%;
    }
  }

  &-second-item {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: fit-content;

    @include respond(phone) {
      width: 100%;
    }
  }
}

.tpdi-second-row {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  align-items: stretch;

  @include respond(phone) {
    flex-direction: column;
  }

  &-first-item {
    display: flex;
    flex-direction: column;
    width: 17%;

    @include respond(tab-port) {
      width: 21%;
    }

    @include respond(phone) {
      width: 100%;
    }
  }

  &-second-item {
    display: flex;
    flex-direction: column;
    width: 43%;

    @include respond(phone) {
      width: 100%;

      & button {
        align-self: center;
        width: 25%;
      }
    }
  }

  &-third-item {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: stretch;

    @include respond(phone) {
      width: 100%;
      flex-direction: column;
    }
  }
}

.tpdi-third-row {
  display: flex;
  align-items: stretch;
  margin-top: 3rem;

  @include respond(phone) {
    flex-direction: column;
  }

  &-first-item {
    display: flex;
    flex-direction: column;
    width: 17%;

    select,
    input[type=text],
    input[type=number] {
      width: 75%;
    }

    @include respond(phone) {
      width: 100%;
    }
  }

  &-second-item {
    display: flex;
    flex-direction: column;
    width: 43%;

    @include respond(phone) {
      width: 100%;
    }
  }

  &-third-item {
    display: flex;
    flex-direction: column;
    width: 40%;

    @include respond(phone) {
      width: 100%;
    }
  }
}

.remove-product-id {
  font-size: 3rem;
  cursor: pointer;
  margin-left: 1rem;
  display: inline-block;
}

.tpdi-actions-buttons {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 2rem;
}

.tpdi-info {
  display: flex;
  height: 300px;
  overflow-y: scroll;
  justify-content: space-between;
  white-space: nowrap;

  &-title-label {
    cursor: pointer;
    border-bottom: 1px solid black;
  }

  &-first-item {
    width: 30%;

    @include respond(tab-port) {
      width: 100%;
      margin-left: 1rem;
      margin-bottom: 3rem;
      border-bottom: 1px solid black;
    }
  }

  &-second-item {
    margin-left: 3rem;
    width: 60%;

    @include respond(tab-port) {
      width: 100%;
      margin-bottom: 3rem;
      border-bottom: 1px solid black;
      margin-left: 1rem;
    }
  }

  &-third-item {
    margin-left: 3rem;
    width: 100%;

    @include respond(tab-port) {
      width: 100%;
      margin-bottom: 1rem;
      margin-left: 1rem;
    }
  }

  @include respond(tab-port) {
    flex-direction: column;
  }
}

.tpdi-request-preview {
  width: 95%;
  padding: 1rem 2rem;
}

.tpdi-request-preview-buttons {
  display: flex;
  margin-left: 2rem;
}
