.tpdi-feature {
  &-title {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;

    .icon {
      font-size: 1rem;
      margin-left: 1rem;
    }

    button {
      margin-right: 1rem;
    }
  }

  &-extra-info {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;

    p {
      margin-bottom: 0.8rem;
    }

    span {
      font-weight: bold;
    }
  }
}

.order-info {
  margin-bottom: 0.75rem;

  &-extra-info {
    margin-bottom: 1rem;
    margin-left: 1rem;

    p {
      margin-bottom: 0.5rem;
    }
  }

  label {
    cursor: pointer;
  }

  span {
    font-weight: bold;
  }

  button {
    margin-right: 0.5rem;
  }
}

.tpdi-first-row {
  display: flex;
  width: 100%;
  align-items: stretch;
  overflow-y: hidden;

  @include respond(phone) {
    flex-direction: column;
  }

  &-first-item {
    width: 40%;
    display: flex;
    flex-direction: column;

    .tpdi-timerange-container {
      label,
      input {
        margin-right: 1rem;
      }
    }

    .quota-container {
      height: 100%;
      display: flex;
      flex-direction: column;

      &-items {
        display: flex;
        justify-content: space-between;

        &--second-item {
          display: flex;
          flex-direction: column;
          width: 60%;

          @include respond(tab-land) {
            width: 100%;
          }
        }

        @include respond(tab-land) {
          flex-direction: column;
        }
      }
    }

    @include respond(tab-port) {
      width: 40%;
    }

    @include respond(phone) {
      width: 100%;
    }
  }

  &-second-item {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: fit-content;

    @include respond(phone) {
      width: 100%;
    }
  }
}

.tpdi-second-row {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  align-items: stretch;

  @include respond(phone) {
    flex-direction: column;
  }

  &-first-item {
    display: flex;
    flex-direction: column;
    width: 17%;

    @include respond(tab-port) {
      width: 21%;
    }

    @include respond(phone) {
      width: 100%;
    }
  }

  &-second-item {
    display: flex;
    flex-direction: column;
    width: 43%;

    @include respond(phone) {
      width: 100%;

      & button {
        align-self: center;
      }
    }
  }

  &-third-item {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: stretch;

    @include respond(phone) {
      width: 100%;
      flex-direction: column;
    }
  }
}

.tpdi-third-row {
  display: flex;
  align-items: stretch;
  margin-top: 3rem;

  @include respond(phone) {
    flex-direction: column;
  }

  &-first-item {
    display: flex;
    flex-direction: column;
    width: 17%;

    select,
    input[type=text],
    input[type=number] {
      width: 75%;
    }

    @include respond(phone) {
      width: 100%;
    }
  }

  &-second-item {
    display: flex;
    flex-direction: column;
    width: 43%;

    @include respond(phone) {
      width: 100%;
    }
  }

  &-third-item {
    display: flex;
    flex-direction: column;
    width: 40%;

    @include respond(phone) {
      width: 100%;
    }
  }
}
