:root {
  --white: #fff;
  --light-grey: #eff2f4;
  --black: #112b33;
  --primary: #b2c22d;
  --grey: #f7f7f7; }

.map {
  width: 67%;
  height: 647px;
  z-index: 1; }
  .map .leaflet-bottom .leaflet-control-scale {
    margin-bottom: 2rem; }
  @media (max-width: 75em) {
    .map {
      width: 100%;
      height: 390px;
      margin-bottom: 1.5rem; } }

.overlayed-map {
  width: 90% !important; }

.editor {
  background-color: var(--white);
  margin-bottom: 1rem; }
  .editor:invalid {
    border: 1px solid #f74343; }

.CodeMirror {
  /* stylelint-disable-line */
  font-size: 1rem;
  height: auto !important;
  width: 100%;
  z-index: 0; }

.quota-preview {
  width: 100%; }
  .quota-preview .CodeMirror-scroll {
    /* stylelint-disable-line */
    overflow-y: scroll;
    height: 435px !important; }

.tpdi-order-preview .CodeMirror-scroll {
  /* stylelint-disable-line */
  overflow-y: scroll;
  height: 380px; }

.tpdi-subscriptions-preview .CodeMirror-scroll {
  /* stylelint-disable-line */
  overflow-y: scroll;
  height: 500px; }

.tpdi-search-preview .CodeMirror-scroll {
  /* stylelint-disable-line */
  overflow-y: scroll;
  height: 370px; }

.process-editor .CodeMirror-scroll {
  /* stylelint-disable-line */
  overflow-y: scroll;
  min-height: 400px;
  max-height: 500px; }

.process-editor--evalscript {
  width: 647px; }
  @media (max-width: 75em) {
    .process-editor--evalscript {
      width: 500px; } }
  @media (max-width: 62.5em) {
    .process-editor--evalscript {
      width: 100%; } }

.process-editor--console .CodeMirror-scroll {
  /* stylelint-disable-line */
  height: 500px; }

.tpdi-editor .CodeMirror-scroll {
  /* stylelint-disable-line */
  height: 414px !important; }

.evaluatepixel-editor .CodeMirror-scroll {
  /* stylelint-disable-line */
  min-height: 200px;
  max-height: 600px; }

.alert {
  position: fixed;
  top: 5%;
  left: 2%;
  z-index: 100000;
  max-width: 500px;
  align-items: stretch;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  display: none; }
  @media (max-width: 75em) {
    .alert {
      max-width: 300px; } }
  .alert-first-item {
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    font-size: 1.5rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; }
    @media (max-width: 75em) {
      .alert-first-item {
        font-size: 1rem; } }
  .alert--success {
    display: flex;
    background-color: #c7d64c; }
    .alert--success .alert-first-item {
      background-color: #8c9923; }
      .alert--success .alert-first-item svg {
        color: white; }
  .alert--warning {
    display: flex;
    background-color: #e74c4c; }
    .alert--warning .alert-first-item {
      background-color: #881212; }
      .alert--warning .alert-first-item svg {
        color: white; }
  .alert--info {
    display: flex;
    background-color: #baf5f7; }
    .alert--info .alert-first-item {
      background-color: #75ebef; }
      .alert--info .alert-first-item svg {
        color: white; }
  .alert-second-item {
    display: flex;
    padding: 1rem 1rem;
    flex-direction: column; }
  .alert-third-item {
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    font-size: 1.5rem; }
    @media (max-width: 75em) {
      .alert-third-item {
        font-size: 1rem; } }

.info {
  display: flex;
  background-color: #333634;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 1.7rem;
  color: #fff;
  justify-content: center;
  align-items: center;
  cursor: pointer; }
  @media (max-width: 62.5em) {
    .info {
      width: 17px;
      height: 17px;
      font-size: 1.2rem; } }

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 22px;
  z-index: 0; }
  @media (max-width: 62.5em) {
    .switch {
      width: 30px;
      height: 17px; } }

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0; }

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  z-index: 1; }

.slider::before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  z-index: 1; }
  @media (max-width: 62.5em) {
    .slider::before {
      width: 13px;
      height: 13px;
      left: 4px;
      bottom: 2px; } }

input:checked + .slider {
  background-color: var(--primary); }

input:focus + .slider {
  box-shadow: 0 0 1px var(--primary); }

input:checked + .slider::before {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px); }
  @media (max-width: 62.5em) {
    input:checked + .slider::before {
      -webkit-transform: translateX(8px);
      -ms-transform: translateX(8px);
      transform: translateX(8px); } }

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  z-index: 1; }
  @media (max-width: 62.5em) {
    .slider.round {
      border-radius: 21px; } }

.slider.round::before {
  border-radius: 50%; }

.table {
  border-collapse: collapse;
  margin: 1.25rem 0;
  width: fit-content;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); }

.table caption {
  font-weight: bold;
  text-align: left;
  margin-bottom: 0.5rem; }

.table thead tr {
  background-color: var(--primary);
  color: #fff;
  text-align: left;
  font-weight: bold; }

.table th,
.table td {
  padding: 0.8rem 1rem; }

.table tbody tr {
  border-bottom: 1px solid black; }

.table tbody tr:last-of-type {
  border-bottom: 2px solid var(--primary); }

.overlayed-element {
  width: 50%;
  min-height: 100%;
  overflow-y: scroll; }
  .overlayed-element div.datafusion-options {
    overflow-y: visible;
    max-height: 100%; }
  @media (max-width: 62.5em) {
    .overlayed-element {
      width: 75%; } }

.overlay-image-container {
  display: flex;
  align-items: center;
  background-color: var(--grey);
  min-height: 200px;
  max-height: 80%;
  overflow-y: scroll;
  border-radius: 10px;
  cursor: default;
  flex-direction: column;
  padding: 1rem;
  position: relative; }
  .overlay-image-container img {
    max-width: 450px;
    max-height: 450px; }
    @media (max-width: 75em) {
      .overlay-image-container img {
        max-width: 380px;
        max-height: 380px; } }
    @media (max-width: 50em) {
      .overlay-image-container img {
        max-width: 300px;
        max-height: 300px; } }

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--primary) var(--grey); }

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px; }

*::-webkit-scrollbar-track {
  background: var(--grey); }

*::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 20px;
  border: 3px solid var(--grey); }

.App {
  /* stylelint-disable-line */
  padding: 1rem; }
  @media (max-width: 62.5em) {
    .App {
      padding: 0;
      padding-left: 1rem; } }

.process-first-row {
  display: flex;
  align-items: stretch;
  height: 100%;
  margin-bottom: 1rem; }
  .process-first-row-first-item {
    display: flex;
    flex-direction: column;
    width: 27%; }
    @media (max-width: 62.5em) {
      .process-first-row-first-item {
        width: 100%;
        margin-bottom: 1rem; } }
  .process-first-row-second-item {
    display: flex;
    width: 30%;
    flex-direction: column; }
    @media (max-width: 62.5em) {
      .process-first-row-second-item {
        width: 100%;
        margin-bottom: 1rem; } }
    .process-first-row-second-item button {
      width: fit-content; }
  .process-first-row-third-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%; }
    @media (max-width: 62.5em) {
      .process-first-row-third-item {
        width: 100%; } }
  @media (max-width: 62.5em) {
    .process-first-row {
      flex-direction: column; } }

.output {
  display: flex;
  flex-direction: column;
  align-items: stretch; }
  .output .form {
    overflow-y: scroll;
    height: 365px; }
    @media (max-width: 62.5em) {
      .output .form {
        height: 250px; } }
  .output button {
    width: fit-content; }

.toggle-with-label {
  display: flex;
  align-items: center;
  margin-bottom: 1rem; }
  .toggle-with-label label {
    margin-bottom: 0;
    margin-right: 1rem;
    cursor: pointer; }

.crs {
  border: 1px solid black;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  height: 100%; }

.process-second-row {
  display: flex;
  width: 100%;
  align-items: stretch;
  overflow-y: hidden; }
  .process-second-row-first-item {
    width: 57%;
    display: flex;
    flex-direction: column; }
    @media (max-width: 62.5em) {
      .process-second-row-first-item {
        width: 100%;
        margin-bottom: 1rem; } }
  .process-second-row-second-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden; }
    @media (max-width: 75em) {
      .process-second-row-second-item textarea {
        width: 95%; } }
    @media (max-width: 50em) {
      .process-second-row-second-item textarea {
        width: 90%; } }
    @media (max-width: 62.5em) {
      .process-second-row-second-item {
        width: 100%;
        margin-bottom: 1rem; } }
  @media (max-width: 62.5em) {
    .process-second-row {
      flex-direction: column; } }

.evalscript-editor {
  height: 90%; }
  @media (max-width: 106.25em) {
    .evalscript-editor {
      width: 40%; } }
  @media (max-width: 75em) {
    .evalscript-editor {
      width: 40%; } }
  @media (max-width: 62.5em) {
    .evalscript-editor {
      width: 100%; } }

.datafusion-options {
  max-height: 570px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  width: 100%; }

.batch-third-row {
  display: flex;
  margin-bottom: 1.5rem;
  height: 100%;
  width: 100%;
  align-items: stretch; }
  @media (max-width: 50em) {
    .batch-third-row {
      flex-direction: column; } }
  .batch-third-row-first-item {
    width: 30%;
    display: flex;
    flex-direction: column; }
    @media (max-width: 50em) {
      .batch-third-row-first-item {
        width: 100%;
        margin-bottom: 1rem; } }
  .batch-third-row-second-item {
    width: 100%;
    display: flex;
    overflow: hidden;
    flex-direction: column; }

.tpdi-feature-title {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  padding: 0.5rem 1rem; }
  .tpdi-feature-title .icon {
    font-size: 1rem;
    margin-left: 1rem; }
  .tpdi-feature-title button {
    margin-right: 1rem; }

.tpdi-feature-extra-info {
  display: flex;
  flex-direction: column;
  margin-left: 1rem; }
  .tpdi-feature-extra-info p {
    margin-bottom: 0.8rem; }
  .tpdi-feature-extra-info span {
    font-weight: bold; }

.order-info {
  margin-bottom: 0.75rem; }
  .order-info-extra-info {
    margin-bottom: 1rem;
    margin-left: 1rem; }
    .order-info-extra-info p {
      margin-bottom: 0.5rem; }
  .order-info label {
    cursor: pointer; }
  .order-info span {
    font-weight: bold; }
  .order-info button {
    margin-right: 0.5rem; }

.tpdi-first-row {
  display: flex;
  width: 100%;
  align-items: stretch;
  overflow-y: hidden; }
  @media (max-width: 50em) {
    .tpdi-first-row {
      flex-direction: column; } }
  .tpdi-first-row-first-item {
    width: 40%;
    display: flex;
    flex-direction: column; }
    .tpdi-first-row-first-item .tpdi-timerange-container label,
    .tpdi-first-row-first-item .tpdi-timerange-container input {
      margin-right: 1rem; }
    .tpdi-first-row-first-item .quota-container {
      height: 100%;
      display: flex;
      flex-direction: column; }
      .tpdi-first-row-first-item .quota-container-items {
        display: flex;
        justify-content: space-between; }
        .tpdi-first-row-first-item .quota-container-items--second-item {
          display: flex;
          flex-direction: column;
          width: 60%; }
          @media (max-width: 75em) {
            .tpdi-first-row-first-item .quota-container-items--second-item {
              width: 100%; } }
        @media (max-width: 75em) {
          .tpdi-first-row-first-item .quota-container-items {
            flex-direction: column; } }
    @media (max-width: 62.5em) {
      .tpdi-first-row-first-item {
        width: 40%; } }
    @media (max-width: 50em) {
      .tpdi-first-row-first-item {
        width: 100%; } }
  .tpdi-first-row-second-item {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: fit-content; }
    @media (max-width: 50em) {
      .tpdi-first-row-second-item {
        width: 100%; } }

.tpdi-second-row {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  align-items: stretch; }
  @media (max-width: 50em) {
    .tpdi-second-row {
      flex-direction: column; } }
  .tpdi-second-row-first-item {
    display: flex;
    flex-direction: column;
    width: 17%; }
    @media (max-width: 62.5em) {
      .tpdi-second-row-first-item {
        width: 21%; } }
    @media (max-width: 50em) {
      .tpdi-second-row-first-item {
        width: 100%; } }
  .tpdi-second-row-second-item {
    display: flex;
    flex-direction: column;
    width: 43%; }
    @media (max-width: 50em) {
      .tpdi-second-row-second-item {
        width: 100%; }
        .tpdi-second-row-second-item button {
          align-self: center; } }
  .tpdi-second-row-third-item {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: stretch; }
    @media (max-width: 50em) {
      .tpdi-second-row-third-item {
        width: 100%;
        flex-direction: column; } }

.tpdi-third-row {
  display: flex;
  align-items: stretch;
  margin-top: 3rem; }
  @media (max-width: 50em) {
    .tpdi-third-row {
      flex-direction: column; } }
  .tpdi-third-row-first-item {
    display: flex;
    flex-direction: column;
    width: 17%; }
    .tpdi-third-row-first-item select,
    .tpdi-third-row-first-item input[type=text],
    .tpdi-third-row-first-item input[type=number] {
      width: 75%; }
    @media (max-width: 50em) {
      .tpdi-third-row-first-item {
        width: 100%; } }
  .tpdi-third-row-second-item {
    display: flex;
    flex-direction: column;
    width: 43%; }
    @media (max-width: 50em) {
      .tpdi-third-row-second-item {
        width: 100%; } }
  .tpdi-third-row-third-item {
    display: flex;
    flex-direction: column;
    width: 40%; }
    @media (max-width: 50em) {
      .tpdi-third-row-third-item {
        width: 100%; } }

.wms-request-form-first-row {
  display: flex;
  width: 100%;
  align-items: stretch;
  height: 100%;
  margin-bottom: 2rem;
  overflow-y: hidden; }
  .wms-request-form-first-row-first-item {
    display: flex;
    flex-direction: column;
    width: 15%; }
    @media (max-width: 62.5em) {
      .wms-request-form-first-row-first-item {
        width: 100%; } }
  .wms-request-form-first-row-second-item {
    width: 20%;
    display: flex;
    flex-direction: column; }
    @media (max-width: 62.5em) {
      .wms-request-form-first-row-second-item {
        width: 100%; } }
  .wms-request-form-first-row-third-item {
    width: 65%;
    display: flex;
    flex-direction: column;
    height: 100%; }
    @media (max-width: 62.5em) {
      .wms-request-form-first-row-third-item {
        width: 100%; } }
  @media (max-width: 62.5em) {
    .wms-request-form-first-row {
      flex-direction: column; } }

.wms-request-form-second-row {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: stretch; }
  .wms-request-form-second-row-first-item {
    display: flex;
    width: 50%;
    flex-direction: column; }
    .wms-request-form-second-row-first-item textarea {
      width: 95%;
      height: 150px; }
    @media (max-width: 62.5em) {
      .wms-request-form-second-row-first-item {
        width: 100%; } }

.catalog-first-row {
  display: flex;
  align-items: stretch;
  width: 100%;
  height: 100%;
  margin-bottom: 2rem;
  overflow-y: hidden; }
  .catalog-first-row-first-item {
    display: flex;
    flex-direction: column;
    width: 15%; }
    @media (max-width: 50em) {
      .catalog-first-row-first-item {
        width: 100%; } }
  .catalog-first-row-second-item {
    display: flex;
    flex-direction: column;
    width: 15%; }
    @media (max-width: 50em) {
      .catalog-first-row-second-item {
        width: 100%; } }
  .catalog-first-row-third-item {
    width: 70%;
    display: flex;
    flex-direction: column;
    height: 100%; }
    @media (max-width: 50em) {
      .catalog-first-row-third-item {
        width: 100%; } }
  @media (max-width: 50em) {
    .catalog-first-row {
      flex-direction: column; } }

.catalog-second-row {
  display: flex;
  align-items: stretch;
  width: 100%;
  height: 100%;
  margin-bottom: 2rem; }
  @media (max-width: 50em) {
    .catalog-second-row {
      flex-direction: column; } }
  .catalog-second-row-first-item {
    display: flex;
    flex-direction: column;
    width: 20%; }
    @media (max-width: 50em) {
      .catalog-second-row-first-item {
        width: 100%; } }
  .catalog-second-row-second-item {
    display: flex;
    flex-direction: column;
    width: 40%; }
    .catalog-second-row-second-item .form {
      overflow-y: scroll; }
    @media (max-width: 50em) {
      .catalog-second-row-second-item {
        width: 100%; } }
  .catalog-second-row-third-item {
    display: flex;
    flex-direction: column;
    width: 40%; }
    @media (max-width: 50em) {
      .catalog-second-row-third-item {
        width: 100%; } }

.statistical-first-row {
  display: flex;
  width: 100%;
  border: '1px solid black';
  height: 100%;
  margin-bottom: 2rem;
  overflow-y: hidden; }
  @media (max-width: 62.5em) {
    .statistical-first-row {
      flex-direction: column; } }
  .statistical-first-row-first-item {
    display: flex;
    flex-direction: column;
    width: 22%; }
    @media (max-width: 62.5em) {
      .statistical-first-row-first-item {
        width: 100%; } }
  .statistical-first-row-second-item {
    display: flex;
    flex-direction: column;
    width: 18%; }
    @media (max-width: 62.5em) {
      .statistical-first-row-second-item {
        width: 100%; } }
  .statistical-first-row-third-item {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%; }
    @media (max-width: 62.5em) {
      .statistical-first-row-third-item {
        width: 100%; } }

.statistical-second-row {
  display: flex;
  height: 100%;
  width: 100%; }
  @media (max-width: 62.5em) {
    .statistical-second-row {
      flex-direction: column; } }
  .statistical-second-row-first-item {
    display: flex;
    flex-direction: column;
    width: 37%; }
    @media (max-width: 62.5em) {
      .statistical-second-row-first-item {
        width: 100%; } }
  .statistical-second-row-second-item {
    display: flex;
    flex-direction: column;
    width: 26%; }
    .statistical-second-row-second-item > div.form {
      overflow-y: scroll;
      height: 650px; }
      @media (max-width: 62.5em) {
        .statistical-second-row-second-item > div.form {
          height: 100%; } }
    @media (max-width: 62.5em) {
      .statistical-second-row-second-item {
        width: 100%; } }
  .statistical-second-row-third-item {
    display: flex;
    flex-direction: column;
    width: 37%; }
    @media (max-width: 62.5em) {
      .statistical-second-row-third-item {
        width: 100%; } }

.statistical-evalscript-editor .CodeMirror-scroll {
  /* stylelint-disable-line */
  overflow-y: scroll;
  min-height: 400px;
  max-height: 500px; }
