@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heading-secondary {
    @apply text-xl whitespace-nowrap font-bold;
  }
  .heading-primary {
    @apply text-2xl;
  }
  .heading-tertiary {
    @apply text-lg mb-2 font-bold underline;
  }
  .heading-4 {
    @apply text-lg mb-2 font-bold;
  }
  .text {
    @apply text-base;
  }
  .text--warning {
    @apply text-red-600;
  }

  /* FORM */

  .form {
    @apply bg-gray-100 flex flex-col xl:py-4 xl:px-3 h-full mr-3 rounded-md py-2 px-1;
  }
  .form__label {
    @apply inline-block font-bold text-black select-none;
  }
  .form__input {
    font-family: 'Open Sans', sans-serif;
    @apply py-1 px-3 w-4/5 rounded-md border-primary-light border active:border-primary active:border-2 focus:border-primary focus:border-2 outline-none bg-white;
  }
  .form__input--range {
    @apply px-0;
  }
  .form__input::placeholder {
    @apply italic;
  }
  .form__input:disabled {
    @apply bg-gray-300 border-none italic cursor-not-allowed;
  }

  /* TABLE */

  .primary-table {
    @apply border text-left rounded-md;
  }
  .primary-table__header {
    @apply bg-primary-light border-primary-dark border;
  }
  .primary-table__header th {
    @apply p-2 border border-primary-dark;
  }
  .primary-table__body td {
    @apply p-1 border border-primary-dark;
  }

  /* BUTTONS */

  .secondary-button {
    @apply bg-primary py-1 px-2 cursor-pointer font-bold hover:bg-primary-light active:bg-primary-dark rounded-md;
  }
  .secondary-button--disabled, .secondary-button:disabled {
    @apply bg-gray-300 text-black cursor-not-allowed hover:bg-gray-300;
  }
  .secondary-button--cancel {
    @apply bg-red-600 text-black hover:bg-red-400;
  }
  .secondary-button--selected {
    @apply bg-primary-dark cursor-not-allowed hover:bg-primary-dark;
  }
  .primary-button {
    @apply rounded-md font-bold cursor-pointer lg:py-3 lg:px-4 lg:text-lg border-primary border bg-primary py-1 px-2 text-base;
  }

  .primary-button--active {
    @apply bg-primary;
  }

  .primary-button:disabled {
    @apply cursor-not-allowed bg-gray-300 border-gray-300;
  }
  
  .primary-button--cancel {
    @apply bg-red-600;
  }

  .tertiary-button {
    @apply bg-transparent border border-black py-1 px-2 cursor-pointer font-bold hover:bg-primary-dark active:bg-primary-light overflow-hidden;
  }

  .tertiary-button:disabled {
    @apply cursor-not-allowed bg-gray-400;
  }

  .underline-button {
    @apply border-b-2 border-primary-dark hover:border-opacity-50;
  }

  .info-banner {
    @apply flex flex-col py-2 px-3 w-fit rounded-sm bg-primary-light text-green-900 font-bold tracking-wide italic;
  }

  .overlay-container {
    @apply fixed top-0 left-0 right-0 bottom-0 w-full h-full cursor-pointer flex justify-center items-center z-50 bg-gray-700 bg-opacity-50;
  }
}

@layer utilities {
  @variants responsive {
    .w-fit {
      width: fit-content !important;
      width: -moz-fit-content !important;
    }
    .h-fit {
      height: fit-content;
    }
    .h-600 {
      height: 600px;
    }
  }
  .wrapped {
    @apply overflow-hidden whitespace-nowrap overflow-ellipsis;
  }
}

.text > span { 
  font-weight: bold;
}
